apiclient
Cython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
httplib2
IPython
ipywidgets
jupyter
jupyter_client==7.4.7
markdown2
matplotlib
notebook<7.0.0
numpy
oauth2client
pandas
python-docx
pyzmq==24.0
scipy
scikit-learn
traitlets<=5.9.0

